# dependencies
node_modules/

# build output
.svelte-kit/
build/

package-lock.json
yarn.lock
pnpm-lock.yaml

dist/

# local env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
